
.DS_Store
*.xml
*.iml
*.cmake
cmake-build-release-gcc/CMakeCache.txt
*.bin
*.out
*.c
cmake-build-release-gcc/CMakeFiles/3.14.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release-gcc/CMakeFiles/clion-environment.txt
cmake-build-release-gcc/CMakeFiles/clion-log.txt
*.check_cache
*.log
*.cxx
cmake-build-release-gcc/CMakeFiles/Makefile2
*.marks
cmake-build-release-gcc/CMakeFiles/TargetDirectories.txt
cmake-build-release-gcc/Makefile
*.cbp
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/build.make
slime/bin/slime_static
cmake-build-release-gcc/slime/Makefile
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/System.cc.o
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/Solver.cc.o
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/SimpSolver.cc.o
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/progress.make
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/Options.cc.o
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/Main.cc.o
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/link.txt
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/flags.make
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/depend.make
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/depend.internal
cmake-build-release-gcc/slime/CMakeFiles/slime_static.dir/CXX.includecache
slime/bin/slime_cli
sdk/slime/example/build/CMakeCache.txt
sdk/slime/example/build/CMakeFiles/3.14.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
sdk/slime/example/build/CMakeFiles/Makefile2
sdk/slime/example/build/CMakeFiles/mini_slime.dir/build.make
sdk/slime/example/build/CMakeFiles/mini_slime.dir/CXX.includecache
sdk/slime/example/build/CMakeFiles/mini_slime.dir/depend.internal
sdk/slime/example/build/CMakeFiles/mini_slime.dir/depend.make
sdk/slime/example/build/CMakeFiles/mini_slime.dir/flags.make
sdk/slime/example/build/CMakeFiles/mini_slime.dir/link.txt
sdk/slime/example/build/CMakeFiles/mini_slime.dir/mini_slime.cpp.o
sdk/slime/example/build/CMakeFiles/mini_slime.dir/progress.make
sdk/slime/example/build/CMakeFiles/Progress/1
sdk/slime/example/build/CMakeFiles/Progress/2
sdk/slime/example/build/CMakeFiles/Progress/count.txt
sdk/slime/example/build/CMakeFiles/TargetDirectories.txt
sdk/slime/example/build/Makefile
slime/bin/test.model
slime/bin/test.proof
cmake-build-debug/slime/Makefile
cmake-build-debug/slime/CMakeFiles/slime_cli.dir/progress.make
cmake-build-debug/slime/CMakeFiles/slime_cli.dir/link.txt
cmake-build-debug/slime/CMakeFiles/slime_cli.dir/flags.make
cmake-build-debug/slime/CMakeFiles/slime_cli.dir/depend.make
cmake-build-debug/slime/CMakeFiles/slime_cli.dir/build.make
cmake-build-debug/slime/CMakeFiles/slime.dir/progress.make
cmake-build-debug/slime/CMakeFiles/slime.dir/link.txt
cmake-build-debug/slime/CMakeFiles/slime.dir/flags.make
cmake-build-debug/slime/CMakeFiles/slime.dir/depend.make
cmake-build-debug/slime/CMakeFiles/slime.dir/build.make
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/3.14.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeCache.txt
